body {
font-family: "Raleway", sans-serif ; /* ajout de la police Raleway */ 
margin: 0 3%;
font-size: 11pt;
}
header, #menu {
	display: flex;
	justify-content: space-between;
	list-style: none; /* pour enlever les puces sur IE7 */
	color: blue; 
}

#menu li { /* menu à coté du logo */
	display: flex;
	justify-content: space-between;
	margin: 30px;

}
.iconeMap { /* icone près de la barre de recherche*/
	background-color: lightgrey; /* bleu */
 	border-radius: 10px 0px 0px 10px;
 	padding: 12px;	
	width: 17px;
}
#barre{
	display: flex;
	flex-direction: row;
}

button {
	background-color: #0065FC; /* bleu */
 	border-radius: 0px 10px 10px 0px;
	color: white;
	border: none;
	height: 40px;
	width: 100px;
}
input {
	height: 40px;
	width: 180px;
	border-color: #F2F2F2;
}
/* haut de page */

#Filtres {
	display: flex;
	align-items: center;
}
#Filtres p {
	margin: 12px;
}

#Filtres li { /* choix à coté du filtre */
	list-style: none; /* pour enlever les puces sur IE7 */
	margin: 20px;	/* espace entre les filtres*/
	height: 45px; /* hauteur de la bordure*/
	border-radius: 30px;
	border: 2px solid lightgrey;
	display: flex;
	align-items: center;
/*METTRE BORDURE AUTOUR DU FILTRES*/
}	

i.iconeFiltre { /* icone à coté des choix */
	color: #0065FC; /* bleu*/
	background-color: #DEEBFF;
	border-radius: 60px;
	height: 50px;	
	width: 52px;
	margin: 0 -7px;
	display: flex; /* mise en forme des cercles + filtres*/
	justify-content: center;
	align-items: center;

}

i.iconeInfo {
	color: #0065FC; /* bleu */
	border: 2px solid lightgrey;
	border-radius: 60px;
	height: 20px;	
	width: 22px;
	display: flex;
	justify-content: center;
    align-items: center;
  }

#paragraphe {
	display: flex;
	align-items: center;
}
#conteneur{
	display: flex;
	flex-wrap: wrap;
}
#photos {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.bloc1 { /*hébergements*/
	width: 65%;
	border-radius: 15px;
	background-color: #F2F2F2; /*GRIS CLAIR*/
}

.bloc2 { /*les +populaires*/
	width: 30%;
	margin-left: 2%;
	border-radius: 15px;
	background-color:#F2F2F2; /*gris clair */
}
.bloc3 { /*Activités*/
	margin:2%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

h2 {
	margin: 5%;
}
.bloc1 p {
	margin: 5%;
}

.bloc1 img { /* forme image hébergements*/
		width: 220px;
		height: 106px;
		border-radius: 15px 15px 0px 0px;
		border: solid 4px white;
		display: flex; /*enlever espace entre le texte et l'image*/

}
.bloc1 figcaption {
	background: white;
	padding: 10px;
	width: 208px;
	border-radius: 0px 0px 15px 15px;
	
}

.bloc1 figure { /* fond blanc img hébergements*/
	margin: 30px;
}

.bloc2 h2 {
	display: flex;
	justify-content: space-between;
	padding: 5%;
}
	
.bloc2 img { /* forme image les plus populaires*/
		width: 130px;
		height: 130px;
		border-radius: 15px 0px 0px 15px;
		border: solid 4px white ;	
}
.bloc2 figcaption {
	background: white;
	width: 230px;
	height: 138px;
	border-radius: 0px 15px 15px 0px ;	

  }

.bloc2 figure { /* fond blanc img les plus populaires*/
	display: flex;
	margin: 30px;
	}

/*Activités*/

.bloc3 h2 {
	padding: 2%;
}

.bloc3 figure { /* fond blanc img hébergements*/
	margin: 10px;
}

.bloc3 img { /* forme image Activités*/
    border-radius: 15px;
    width: 245px;
	height: 100px;
	border-radius: 15px 15px 0px 0px;
	display: flex;	
}

.bloc3 figcaption {
	background: white;
	border-radius: 0px 0px 15px 15px;
	height: 25px;
	padding: 10px;
}
#bloc4 img{ /*image Vieux port*/
	height: 280px;
	width: 232px;
}
#bloc5 img{
	width: 250px;
	height: 120px;
}
#bloc6 img{
	width: 250px;
	height: 100px;
}

.starBleu {
	color: #0065FC; /* bleu */
}
.starGris {
	color: grey; /* gris */
}

/* pied de page */
#footer {
display: flex;
justify-content: space-around;
margin: 2%;
background-color: #F2F2F2; /*gris clair*/
}

 