body {
	font-family: "Raleway", sans-serif ; /* ajout de la police Raleway */ 
}
header, #menu {
	display: flex;
	justify-content: space-between;
	list-style: none; /* pour enlever les puces sur IE7 */
	color: blue; 
}
#menu li { /* menu à coté du logo */
	display: flex;
	justify-content: space-between;
	margin: 30px;
}
/* haut de page */

#Filtres li { /* choix à coté du filtre */
	display: inline;
	list-style: none; /* pour enlever les puces sur IE7 */
	margin: 20px;	/* espace entre les filtres*/
	border: 2px solid lightgrey;
	padding: 10px; /* hauteur de la bordure*/
	border-radius: 20px;
}	

.iconeFiltre { /* icone à coté des choix */
	color: #0065FC; /* bleu*/
	border-radius: 50px;
	width: 40px; /* espace entre les icones et les choix*/
  	height: 23px;
}
.iconeMap { /* icone près de la barre de recherche*/
	background-color:  #F2F2F2;	/* gris clair */
	border-radius: 10px 0px 0px 10px;
	height:26px;
	width: 30px;	
}	
button {
	background-color: #0065FC; /* bleu */
 	border-radius: 0px 10px 10px 0px;
	color: white;
	border: none;
	height: 30px;
	width: 100px;
	 }

input {
	height: 30px;
	border-color:  #F2F2F2;
	}
	
.iconeInfo{
	color: #0065FC; /* bleu */
	border-radius: 30px solid lightgrey;
	height: 40px;
	width: 40px;	
}
#conteneur {
display: flex;
flex-wrap: wrap;
}
.bloc1 {
	width: 70%;
	margin: 2%; 
	border-radius: 15px;
	background-color: #F2F2F2;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}
.bloc2 {
	width: 20%;
	margin: 2%;
	border-radius: 15px;
	background-color: lightgrey;
	

}
.bloc3 {
	margin: 2%;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}
h2{
	margin: 3%;
}
img {
      border-radius: 15px;
      width: 200px;
	  height: 120px;
	  border: 4px solid white;	  
}
.bloc1 figure {
	margin:30px;
	padding:10px;
	background:white;
}

.bloc1 figcaption {
	margin-top:5px;
	padding:1px;
	border: 1px 	
}
.starBleu {
	color: #0065FC; /* bleu */
}
.starGris {
	color: #F2F2F2; /* gris */
}
/* pied de page */
#footer {
display: flex;
justify-content: space-between;
margin: 3%;
}


