body {
	font-family: "Raleway", sans-serif ; /* ajout de la police Raleway */ 
}
#menu li {
	display: flex;
	list-style: none; /* pour enlever les puces sur IE7 */
	margin: 20px;
	justify-content: flex-end;
	color: blue; 
}
/* haut de page */

#Filtres li {
	display: inline;
	list-style: none; /* pour enlever les puces sur IE7 */
	margin:20px;	
}	
.fa-money-bill-wave {
	color: blue;
}
.fa-child {
	color: blue;
}
.fa-heart {
	color: blue;
}
.fa-dog {
	color: blue;
}
.fa-info-circle {
	color: blue;	
}
.input {
	color: blue;
}
#conteneur {
display: flex;

}
.bloc1 {
	width: 60%;
	margin: 3%;
}
.bloc2 {
	width: 40%;
	margin: 3%;
}

.bloc3 {
margin: 3%;
}

h2 {
	margin: 3%;
}
img {
      border-radius: 10px;
      width: 200px;
	  height: 150px;
}
/* pied de page */
#footer {
display: flex;
justify-content: space-between;
margin: 3%;
}


